<!-- Start Form Navigation -->
<div class="container p-5">
  <h2 class="text-center mb-4">¡Contáctanos!</h2>
  <form id="formulario" class="d-flex flex-column align-items-center">
    <!-- Nombre -->
    <div class="row mb-3 justify-content-center w-100">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
          <label for="nombre">Nombre</label>
        </div>
      </div>
    </div>
    
    <!-- Correo -->
    <div class="row mb-3 justify-content-center w-100">
      <div class="col-md-6">
        <div class="form-floating">
          <input type="email" class="form-control" id="correo" placeholder="name@example.com" required>
          <label for="correo">Correo Electrónico</label>
        </div>
      </div>
    </div>

    <!-- Selección -->
    <div class="row mb-3 justify-content-center w-100">
      <div class="col-md-6">
        <select class="form-select" id="modo-aprendizaje" name="modo-aprendizaje" required>
          <option selected disabled>Elige tu empaque favorito</option>
          <option value="Chocolitos Costa">Chocolitos Costa</option>
          <option value="Chocolitos Sierra">Chocolitos Sierra</option>
          <option value="Chocolitos Amazonia">Chocolitos Amazonia</option>
        </select>
      </div>
    </div>

    <!-- Comentario -->
    <div class="row mb-3 justify-content-center w-100">
      <div class="col-md-6">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Escribe tu comentario aquí" id="floatingTextarea" required></textarea>
          <label for="floatingTextarea">Comentario</label>
        </div>
      </div>
    </div>

    <!-- Botón Enviar -->
    <div class="row justify-content-center w-100">
      <div class="col-md-6 text-center">
        <button class="btn btn-success px-4 py-2" type="submit">Enviar</button>
      </div>
    </div>
  </form>
</div>
<!-- End Forms Navigation -->