<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <a class="navbar-brand" href="#page-top">Chocolitos!</a>
        <!-- Cambia "Start Bootstrap" por el nombre de tu marca -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li> <!-- Enlace al inicio -->
                <li class="nav-item"><a class="nav-link" href="#trazabilidad">Trazabilidad</a></li>
                <!-- Enlace a la sección Trazabilidad -->
                <li class="nav-item"><a class="nav-link" href="#impacto-ambiental">Impacto Ambiental</a></li>
                <!-- Enlace a la sección Impacto Social -->
                <li class="nav-item"><a class="nav-link" href="#productos">Nuestros Productos</a></li>
                <!-- Enlace a la sección Nuestros Productos -->
            </ul>
        </div>
    </div>
</nav>