<section id="inicio">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-4 order-lg-2">
        <div class="p-5"><img class="img-fluid" src="images/chocolitosgeneral.png" alt="chocolitosgeneral" /></div>
      </div>
      <div class="col-lg-8 order-lg-1">
        <div class="p-5">
          <h2 class=" mb-4">Nuestra propuesta de valor</h2>
          <p style="text-align: justify;">
            Chocolitos es una barra nutricional que transforma la hora del
            snack en un momento delicioso y saludable que puedes ofrecer a
            tus hijos sin preocuparte. Con su receta que contiene 50% menos
            azúcar en comparación a las existentes en el mercado, y un
            estimado de 7 gramos de fibra dietética por barra, gracias a la
            cascarilla de cacao. No solo satisface el paladar de tus hijos, sino
            que también apoya su bienestar y salud. Esta es una opción
            confiable que te permite sentirte segura de que estas alimentando
            a tus hijos con un snack que les encanta, los educa y los satisface
            ¡Haz de Chocolitos parte de la alimentación diaria de tus pequeños
            y disfruta de su felicidad
          </p>
        </div>
      </div>
    </div>
  </div>
</section>