<section id="impacto-ambiental">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-5 order-lg-2 d-flex justify-content-center align-items-center">
          <div class="p-5"><img class="img-fluid" src="images/sosteniblecacao.png" alt="imgsosteniblecacao" /></div>
        </div>
        <div class="col-lg-7 order-lg-1 d-flex justify-content-center align-items-center">
          <div class="p-5">
            <h3 class=" mb-4">Aprovechamiento Sostenible del Cacao</h3>
            <p style="text-align: justify;">
              Implementamos prácticas de economía circular, como la valorización de subproductos del
              cacao
              (como las cáscaras, cascarillas y pulpas), que permiten utilizar estos recursos para la
              creación
              de snacks saludables. Estos ingredientes, ricos en fibra dietetica y nutrientes, han
              sido
              transformados en opciones nutritivas que aportan beneficios para la salud
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>