<section id="impacto-ambiental">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-5 order-lg-2 d-flex justify-content-center align-items-center">
        <div class="p-5"><img class="img-fluid" src="images/sosteniblecacao.png" alt="imgsosteniblecacao" /></div>
      </div>
      <div class="col-lg-7 order-lg-1 d-flex justify-content-center align-items-center">
        <div class="p-5">
          <h3 class=" mb-4">Aprovechamiento Sostenible del Cacao</h3>
          <p style="text-align: justify;">
            Implementamos prácticas de economía circular, como la valorización de un subproducto del
            cacao, en este caso particular las cascarillas, que se usaron para la
            creación de snacks saludables. Estos ingredientes, ricos en fibra dietetica y nutrientes, han
            sido transformados en opciones nutritivas que aportan beneficios para la salud, Además, contribuimos a pequeños
            productores y agricultores de cacao mediante la compra de cascarilla, un subproducto del cacao, como es el
            caso de los productores de Rohayhu.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>