  <app-navbar></app-navbar>
  <app-encabezado></app-encabezado>
  <app-propuesta-de-valor></app-propuesta-de-valor>
  <app-trazabilidad></app-trazabilidad>
  <app-impacto></app-impacto>
  <app-productos></app-productos>

<!-- Start Form Navigation -->
<div class="container p-5">
  <h2 class="text-center">Contactanos!</h2>
  <form id="formulario">
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
          <label for="nombre">Nombre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="correo" placeholder="name@example.com" required>
          <label for="correo">Correo Electrónico</label>
        </div>
      </div>

      <div class="col-md-6">
        <!-- Cambio solo en las opciones que se muestran en pantalla -->
        <select class="form-select mb-3" id="modo-aprendizaje" name="modo-aprendizaje" aria-label="Elige tu empaque favorito">
          <option selected>Elige tu empaque favorito</option>
          
          <option value="Chocolitos Costa">Chocolitos Costa</option>
          <option value="Chocolitos Sierra">Chocolitos Sierra</option>
          <option value="Chocolitos Amazonia">Chocolitos Amazonia</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Escribe tu comentario aquí" id="floatingTextarea" required></textarea>
          <label for="floatingTextarea">Comentario</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <button class="btn btn-success" type="submit">Enviar</button>
      </div>
    </div>
  </form>
</div>
<!-- End Forms Navigation -->

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const formulario = document.getElementById('formulario');
    formulario.addEventListener('submit', (event) => {
      event.preventDefault();
      
      // Obtener los valores del formulario
      const nombre = document.getElementById('nombre').value;
      const email = document.getElementById('correo').value;
      const empaqueFavorito = document.getElementById('modo-aprendizaje').value;
      const comentario = document.getElementById('floatingTextarea').value;

      // Validaciones de los campos
      if (!nombre) {
        alert('El campo nombre es obligatorio.');
        return;
      }

      if (!email) {
        alert('El campo correo electrónico es obligatorio.');
        return;
      } else if (!/\S+@\S+\.\S+/.test(email)) {
        alert('El correo electrónico no es válido.');
        return;
      }

      if (!empaqueFavorito) {
        alert('Seleccione una opción de: Elige tu empaque favorito.');
        return;
      }

      if (!comentario) {
        alert('El campo comentario es obligatorio.');
        return;
      }

      const datos = {
        nombre: nombre,
        email: email,
        modoAprendizaje: empaqueFavorito,
        comentario: comentario
      };

      // Enviar los datos a Firebase (POST)
      fetch('https://recursos-6f043-default-rtdb.firebaseio.com/Mods-Plattform.json', {
        method: 'POST',
        body: JSON.stringify(datos),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(response => response.json())
        .then(data => {
          console.log('Respuesta del servidor:', data);
          alert('¡Tu reseña ha sido enviada correctamente!');
        })
        .catch(error => console.error('Error:', error));
    });
  });
</script>


  <app-pie-de-pagina></app-pie-de-pagina>