
<section id="productos">
    <div class="container px-5 justify-content-center align-items-center">
      <div class="p-5">
        <h3 class="mb-4 text-center">Nuestros Productos</h3>

        <div class="row gx-5 justify-content-center align-items-center">
          <!-- Tarjeta 1 -->
          <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
              <img src="images/costa.jpg" class="card-img-top" alt="Chocolitos Costa">
              <div class="card-body">
                <h5 class="card-title">Chocolitos Costa</h5>
                <p class="card-text">Cacaotito tiene un aspecto de la región de la Costa</p>
              </div>
            </div>
          </div>

          <!-- Tarjeta 2 -->
          <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
              <img src="images/sierra.jpg" class="card-img-top" alt="Chocolitos Costa">
              <div class="card-body">
                <h5 class="card-title">Chocolitos Sierra</h5>
                <p class="card-text">Cacaotito tiene un aspecto de la región de la Sierra</p>
              </div>
            </div>
          </div>

          <!-- Tarjeta 3 -->
          <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
              <img src="images/amazonia.jpg" class="card-img-top" alt="Chocolitos Costa">
              <div class="card-body">
                <h5 class="card-title">Chocolitos Amazonia</h5>
                <p class="card-text">Cacaotito tiene un aspecto de la región Amazónica</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
